.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
